- if declutter.bookmarked_by?(current_user)
  = link_to declutter.bookmarks.count,declutter_bookmarks_path(declutter), method: :delete, remote: true, class: "fas fa-bookmark text-muted"
- else
  = link_to declutter.bookmarks.count,declutter_bookmarks_path(declutter), method: :post, remote: true, class: "far fa-bookmark text-muted"