/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "toastr";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Vollkorn&display=swap');

// ページ全体の設定
body {
  font-family: 'Playfair Display', serif;
  background-color: #eae5de;
}
.container {
  min-height: 100vh;
}
.tabbox {
  min-height: 100vh;
}

// 各ページのタイトル・ボタンの設定
.form_title {
  margin-bottom: 30px;
  text-align: center;
  border-bottom:solid 1px #434343;
}
.form_comment {
  margin-top: 20px;
}
.form_btn {
  background: rgba(148,175,101,1);
  color: #fff;
  border-style: none;
  margin-top: 10px;
  padding: 10px 30px;
  width: 150px;
}
.form_btn_group {
  text-align: center;
}

// フラッシュメッセージの設定
.notice {
  text-align: center;
  color: #6D8346;
}

// モーダルの設定
.modal-header {
  border-bottom: none;
}
.modal-body {
  text-align: center;
}
.modal-footer {
  border-top: none;
  .btn-link {
    color: #fff;
    background: #df6c51;
  }
}

// ページネーションの設定
.page-link {
  border: none;
  color: #6f6e6e;
  background-color: #f3f0e9;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 20px;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #434343;
    border-color: #007bff;
    border-radius: 20px;
}
.page-item.disabled .page-link {
  background-color: #f3f0e9;
}
.page-item:last-child .page-link {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.page-item:first-child .page-link {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.photo_choice_btn {
  text-align: center;
}

// attachment_filedの設定
.profile_image_btn {
  display: none;
}
#img_field {
  font-size: 15px;
  margin: 0 auto;
  background-color: #FFFEF9;
  border-radius: 10px;
  width: 130px;
  height: 35px;
  line-height: 35px;
  box-shadow: 2px 2px gray;
}

// フッターの
.footer {
  background: #434343;
  color: #a1a1a1;
  height: 200px;
  text-align: center;
  p {
    margin-top: 100px;
  }
}

// カレンダーの設定
.calendar_group {
  margin-bottom: 150px;
}
.fc-view-container {
  background: #fff;
}
td.fc-sat {
  background-color: #eaf4ff;
}
td.fc-sun {
  background-color: #ffeaea;
}
.fc-time {
  display: none;
}