/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import image-url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Vollkorn&display=swap');

// ページ全体の設定
body {
  font-family: 'Playfair Display', serif;
  background-color: #eae5de;
}
.container {
  min-height: 100vh;
}
.tabbox {
  min-height: 100vh;
}

// フラッシュメッセージの設定
.notice {
  text-align: center;
  color: #6D8346;
}

// モーダルの設定
.modal-header {
  border-bottom: none;
}
.modal-body {
  text-align: center;
}
.modal-footer {
  border-top: none;
  .btn-link {
    color: #fff;
    background: #df6c51;
  }
}

// kaminariの設定
.page-link {
  border: none;
  color: #6f6e6e;
  background-color: #f3f0e9;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 20px;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #434343;
    border-color: #007bff;
    border-radius: 20px;
}
.page-item.disabled .page-link {
  background-color: #f3f0e9;
}
.page-item:last-child .page-link {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.page-item:first-child .page-link {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

// attachment_filedのデザイン(共通)
.profile_image_btn {
  display: none;
}
#img_field {
  font-size: 15px;
  margin: 0 auto;
  background-color: #FFFEF9;
  border-radius: 10px;
  width: 130px;
  height: 35px;
  line-height: 35px;
  box-shadow: 2px 2px gray;
}

// フッター
.footer {
  background: #434343;
  color: #a1a1a1;
  height: 200px;
  text-align: center;
  p {
    margin-top: 100px;
  }
}

// topページ
@media screen and (max-width: 480px) {
  #top_img_left {
  max-width: 100%;
  max-height: 400px;
}
}
#top_img_left {
  width: 100%;
  height: 700px;
}
.image1 {
  background-image: image-url(room_top.jpg);
}
.image2 {
  background-image: image-url(room2.jpg);
}
.image3 {
  background-image: image-url(room.jpg);
}
.top_img_right {
  text-align: center;
  h1 {
    margin-top: 150px;
    text-align: center;
    font-weight: bold;
    font-size : 90px;
    color: #434343;
    font-family :Quicksand, sans-serif;
  }
  .btn {
    margin: 0 5px;
    padding: 5px 30px;
    border-radius: 20px;
  }
  .top_form_btn {
    margin-top: 60px;
  }
  p {
    margin-top: 150px;
    margin-bottom: 2px;
  }
}

// 新規登録・ログインページ
.form_title {
  text-align: center;
  border-bottom:solid 1px #434343;
}
.form_main {
  text-align: center;
  margin-top: 40px;
}
.form_comment {
  margin-top: 20px;
}
.form_btn {
  background: rgba(148,175,101,1);
  color: #fff;
  border-style: none;
  margin-top: 10px;
  padding: 10px 30px;
  width: 150px;
}

// 投稿一覧ページ
.declutter_index_group {
  margin-bottom: 60px;
}
.rank_info {
  text-align: center;
  h3 {
    margin-top: 20px;
    font-weight: bold;
    font-family :Quicksand, sans-serif;
  }
}
.card-height {
  height: 100%;
}
.card-img-top-height {
  height: 100%;
  width: 100%;
}
.declutter_title {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 2em;
  font-family :Quicksand, sans-serif;
  top: 250px;
  left: 45%;
}

// マイページ
.user_show_group {
  margin-bottom: 60px;
}
.user_info {
  text-align: center;
  h3 {
    margin-top: 20px;
    font-weight: bold;
    font-family :Quicksand, sans-serif;
  }
}
.link_group {
  a {
    margin: 10px;
    color: #fff;
  }
  .fas.fa-bookmark {
    background: #DEB887;
  }
  .fas.fa-plus {
    background: #81B9D7;
  }
  .far.fa-calendar-alt {
    background: #71B9B0;
  }
}

// ユーザー一覧ページ
.table_title {
  text-align: center;
  margin-bottom: 50px;
}
.table {
  .btn {
    border-radius: 20px;
  }
}

// 投稿詳細ページ
.declutter_show_group {
  margin-bottom: 100px;
}
.edit_btn {
  text-align: right;
}
.comment_index {
  margin-bottom: 10px;
  img {
    margin-right: 7px;
  }
}
.comment_form {
  margin-top: 30px;
  .btn {
    margin-top: 5px;
    width: 100%;
    background: #999999;
  }
}
#declutter_comment_comment {
  width : 100%;
}

// タブメニューの設定
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background: #f3f0e9;
}
.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.tab:first-child {
  border-left: none;
}
// タブがactiveのときのデザイン
.tab-active {
  border-bottom: solid 1.5px #333333;
}
// タブの中を始めは非表示にする
.tabbox {
  display: none;
  padding: 15px;
}
.box-show {
  display: block;
}
.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

// カレンダーの設定
.calendar_group {
  margin-bottom: 150px;
}
.fc-view-container {
  background: #fff;
}
td.fc-sat {
  background-color: #eaf4ff;
}
td.fc-sun {
  background-color: #ffeaea;
}
.fc-time {
  display: none;
}