/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Vollkorn&display=swap');

// ページ全体の設定
body {
  font-family: 'Playfair Display', serif;
  background-color: #eae5de;
}

// kaminariの設定
.page-link {
  border: none;
  color: #6f6e6e;
  background-color: #f3f0e9;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 20px;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #434343;
    border-color: #007bff;
    border-radius: 20px;
}
.page-item:last-child .page-link {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.page-item:first-child .page-link {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

// topページ
.top_img {
  width: 100%;
  height: 550px;
}

// 新規登録・ログインページ
.form_title {
  text-align: center;
  border-bottom:solid 1px #434343;
}
.form_main {
  text-align: center;
  margin-top: 40px;
}
.form_comment {
  margin-top: 20px;
}
.form_btn {
  background: rgba(148,175,101,1);
  color: #fff;
  border-style: none;
  margin-top: 10px;
  padding: 10px 30px;
  width: 150px;
}

// 投稿一覧ページ
.rank_info {
  text-align: center;
  h3 {
    margin-top: 20px;
    font-weight: bold;
    font-family :Quicksand, sans-serif;
  }
}
.card-height {
  height: 100%;
}
.card-img-top-height {
  height: 100%;
  width: 100%;
}
.image1 {
  background-image: url(room.jpg);
}
.image2 {
  background-image: url(room2.jpg);
}
.container-top-color {
  height: 300px;
  background: linear-gradient(-135deg, #E4A972, #9941D8) fixed;
}
.declutter_title {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 2em;
  font-family :Quicksand, sans-serif;
  top: 250px;
  left: 45%;
}

// マイページ
.user_info {
  text-align: center;
  h3 {
    margin-top: 20px;
    font-weight: bold;
    font-family :Quicksand, sans-serif;
  }
}
.link_group {
  a {
    margin: 10px;
  }
}

// ユーザー一覧ページ
.table_title {
  text-align: center;
  margin-bottom: 50px;
}
.table {
  .btn {
    border-radius: 20px;
  }
}