/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

#global-head {
    position: fixed;
    color: #033560;
    width: 260px;
    text-align: center;
    padding-top: 60px;
    z-index: 100;
}

#sidebar {
    font-size: 15px;
    padding-top: 120px;
    width: 260px;
    height: 100%;
    position: fixed;
    color: #033560;
    background: #fff;
    text-align: center;
}

#global-nav ul {
    list-style: none;
    margin-left: 0;
}