// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// topページ
@media screen and (max-width: 480px) {
  #top_img_left {
  max-width: 100%;
  max-height: 400px;
}
}
#top_img_left {
  width: 100%;
  height: 700px;
}
.image1 {
  background-image: image-url("room_top.jpg");
}
.image2 {
  background-image: image-url("room2.jpg");
}
.image3 {
  background-image: image-url("room.jpg");
}
.top_img_right {
  text-align: center;
  margin-bottom: 50px;
  h1 {
    margin-top: 150px;
    text-align: center;
    font-weight: bold;
    font-size : 90px;
    color: #434343;
    font-family :Quicksand, sans-serif;
  }
  .btn {
    margin: 0 5px;
    padding: 5px 30px;
    border-radius: 20px;
  }
  .top_form_btn {
    margin-top: 60px;
  }
  p {
    margin-top: 150px;
    margin-bottom: 2px;
  }
}

// Aboutページ
.about_title {
  margin-bottom: 100px;
  text-align: center;
  height: 200px;
  background: #f2f0e9;
  h1{
    padding-top: 80px;
  }
}
.function_info {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-top:solid 1px #434343;
  h2 {
    margin-top: 100px;
  }
}